.btn-custom{
	background-color: #1dc6df;
    border-color: #1dc6df;
}
.btn-custom:hover,.btn-custom:focus{
    background-color: #333;
    border-color: #333;
}
.form-control:focus,.facts i ,.pricing-box{
	border-color: #1dc6df;
}
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus,
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus,
.intro-title span,.testi-slide p,#ajaxsuccess,#contact i,#contact h4,.title span,.facts i,a:hover,a:focus,a:active,.service-item i,.features-box i,
.plan-title{
	color: #1dc6df !important;
}
.item-img-overlay span{
    background: url(../img/plus.png) no-repeat center center rgba(29, 198, 223,.7);
}

.back-to-top,.titleHR span {
    background: #1dc6df;
}