/* Theme Name: Techtiq - Responsive One Page Template
   Author: Themesdesign
   Version: 1.0.0
   Created: May 2017
   File Description: Main CSS file of the template
*/

/* TABLE OF CONTENTS
	1) Reset
	2) Help classes
	3) Parallax
	4) Pre-loader
	5) Navigation
	6) Home
	7) About-us
	8) Fun-facts
	9) Portfolio
	10) inner (Info)
	11) Team / Skills
	12) Services
	13) Testimonials
	14) Partners
	15) Contact
	16) Footer
	17) Back-to-top
	18) Responsive
*/



/* 1 Reset
----------------------------------------------------------------------------- */
body {
  font-family: 'Muli', sans-serif;
  color: #535353;
}
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
iframe {
    border: none;
    width:100%;
}
a {
    color: inherit;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
a:hover,a:focus,a:active {
    text-decoration: none;
}
p {
    color: #737373;
    line-height: 23px;
}
img {
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', sans-serif;
}
textarea {
    max-width: 100%;
    resize: none;
}
hr {
	margin: 10px 0px;
}
address {
	margin-bottom: 0px;
}
.btn {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 600;
    padding: 10px 28px 8px;
    color: #fff;
    border-width: 2px;
    -webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
	border-radius: 30px;
}
.btn:focus,.btn:active {
    outline: none;
    color: #ffffff;
}
.btn-custom:hover,.btn-custom:focus{
    color: #fff;
}
.btn-custom-outline {
	border-color: #ffffff;
}
.btn-custom-outline:hover,.btn-custom-outline:focus{
	color: #333 !important;
	background-color: #ffffff;
}
.btn-bar a{
	margin-right: 10px;
}
.form-control {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 3px;
	height: 38px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}
/* 2 Helper classes
----------------------------------------------------------------------------- */
.margin-t-md {
	margin-top: 30px;
}
.margin-b-md {
	margin-bottom: 30px;
}
.title {
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.slog {
	max-width: 620px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.bg-gray {
	background: #f5f5f5;
}
.bg-dark {
	background: #24282f;
}
.text-dark {
	color: #24282f;
}
.titleHR {
	background: none repeat scroll 0 0 #e1e1e1;
	height: 5px;
	margin: 20px auto;
	position: relative;
	text-align: center;
	width: 80px;
}
.titleHR span {
	border-left: 10px solid #f7f7f7;
    border-right: 10px solid #f7f7f7;
	display: inline-block;
	height: 5px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0px;
	width: 25px;
}
/* 3 Parallax
----------------------------------------------------------------------------- */
.parallax {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
/* 4 Preloader
----------------------------------------------------------------------------- */
.animationload {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999999;
}
.loader {
    width:200px;
    height:200px;
    font-size: 24px;
    text-align: center;
    position:absolute;
    left:50%; 
    top:50%; 
    background-image:url(../img/preloader.gif); 
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; 
}

/* 5 Navigation/topbar
----------------------------------------------------------------------------- */
/* -- Topbar -- */
.tagline {
    background: #f6f6f6;
    font-size: 13px;
    color: #2d2e2e;
}
.email, .phone {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding: 11px 0;
    font-size: 15px;
}
.tagline .pull-left i {
    font-weight: 400;
    display: inline-block;
    margin-right: 5px;
}
.email a {
    transition: all 300ms;
    -webkit-transition: all 300ms;
}
.email a:hover {
    color: #1dc6df;
}
.top_socials {
    margin: 0 12px;
}
.top_socials li {
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    padding: 0;
}
.top_socials a {
    display: block;
    line-height: 40px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}
.navbar-custom {
	background-color: transparent;
	margin-bottom: 0px;
	z-index: 1000;
	border: none;
	color: #333;
	position: fixed;
	transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out, border 1s ease-in-out;
}
.navbar-custom .navbar-brand {
	font-size: 24px;
    text-transform: uppercase;
    color: #ffffff !important;
    margin: 15px 0 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.navbar-custom .navbar-brand:hover {
	color: #ffffff;
}
.navbar-custom .nav {
	padding: 15px 0px;
}
.navbar-custom .navbar-nav>li>a {
	color: #f1f1f1;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus,
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus {
	background-color: transparent;
}
.small .navbar-brand,.small .navbar-brand:hover{
	color: #444  !important;
}
nav.small {
   background-color: #ffffff;
   -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
   box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.small .navbar-nav>li>a {
	color: #666;
}

.navbar-sticky {
    top: 43px !important;
}
.navbar-sticky.small {
    top: 0px !important;
}

.navbar-sticky {
    background-color: #ffffff;
}
.navbar-sticky .navbar-nav>li>a {
    color: #666;
}
.navbar-sticky .navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    color: #666 !important;
    margin: 15px 0 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.navbar-sticky-half{
    position: relative;
    background-color: #ffffff !important;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
.navbar-sticky-half .navbar-nav>li>a {
    color: #666;
}
.navbar-sticky-half .navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    color: #666 !important;
    margin: 15px 0 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}


/* 6 Home
----------------------------------------------------------------------------- */
#home {
	padding: 250px 0;
	z-index: 1;
	position: relative;
	color: #fff;
	background: #000;
	min-height: 400px;
}
.home-bg{
	background-size: cover;
	z-index: -1;
	position: absolute;
	top: 0;
	opacity: 0.40;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/img-1.jpg) no-repeat center;
}
.intro-title {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 48px;
	margin: 0px 0px 20px 0px;
}
.intro-title span {
	margin-left: 5px;
}
.intro-text {
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 24px;
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink .6s infinite;
	-moz-animation: blink .6s infinite;
	-ms-animation: blink .6s infinite;
	-o-animation: blink .6s infinite;
	animation: blink .6s infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
/*=======Home-Full========*/
.main-home-full {
    height: 100vh;
    padding: 60px 0;
    z-index: 1;
    text-align: center;
    position: relative;
    font-size: 13px;
    color: #fff;
    background: #000;
    min-height: 400px;
}
.home-header-content {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
/*======Home Slideshow=========*/
.bg-slider-wrapper {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -999;
  background: #595959;
  opacity: 0.5;
}
.bg-slider-wrapper .flexslider {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bg-slider-wrapper .flexslider .slide {
  height: 690px;
}
.bg-slider-wrapper .flexslider .slide.slide-1 {
  background: #65758e url('../img/img-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-2 {
  background: #65758e url('../img/img-2.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-3 {
  background: #65758e url('../img/img-3.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .flex-control-nav {
  z-index: 20;
  bottom: 45px;
  position: relative;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.3);
}
.bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
  background: rgba(255, 255, 255, 0.8);
}
/*=======Home Slider======*/
.carousel-section {
    background-image:url("../img/img-3.jpg");
    overflow: hidden;
    padding: 200px 0px 160px;
}
.carousel-razon .carousel-caption {
    position: static;
    text-align: center;
}
.carousel-razon .carousel-indicators {
    bottom: -130px !important;
}
.carousel-razon .carousel-indicators li {
    margin: 0 2px;
}
.carousel-indicators li{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 12px;
    width: 12px;
    background: transparent;
}
.carousel-indicators .active {
    background: #fff;
}

.carousel-text span{
    text-transform: uppercase;
}
.carousel-text p{
    color: #ffffff;
    font-size: 16px;
}
/*=====video Half======*/
section.home-section{
    padding: 0px !important;
}
.home-section{
    background-attachment:fixed;
    background:#000000;
    width: 100%;
    min-height: 650px;
    text-align:center;
    position: relative;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
}
.home-section .container {
    max-width: none;
    width: 100%;
}
.video-bg-slider {
    height: 650px;
    position: relative;
}
.video-bg-slider:after{
    background:rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.slidero {
    top: 50%;
    transform: translateY(-50%);
    position:absolute;
    width:100%;
    z-index:100;
}
/*=====Home-Full-Video======*/
.video-bg-slider-full {
    height: 100vh;
    position: relative;
}
/*========Home-sticky-full=====*/
.main-home-sticky-full{
    height: 100vh;
    padding: 60px 0;
    z-index: 1;
    text-align: center;
    position: relative;
    font-size: 13px;
    color: #fff;
    background: #000;
    min-height: 400px;
}
.video-bg-slider-full:after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
/* 7 About-us
----------------------------------------------------------------------------- */
#about-us .features-box {
	overflow: hidden;
	clear: both;
	margin-bottom: 30px;
}
.features-box i {
	font-size: 36px;
}

.features-box p{
    line-height: 22px;
}
.advanced-about {
	overflow: hidden;
	clear: both;
}
.advanced-about ul li {
	margin: 10px 0px
}
.advanced-about ul li i {
	margin-right: 10px;
}

/* 8 Fun-facts
----------------------------------------------------------------------------- */
.fun-facts {
	overflow: hidden;
	color: #ffffff;
}
.facts{
	margin: 20px 0px;
}
.facts i{
	font-size: 24px;
    width: 80px;
    display: block;
    height: 80px;
    line-height: 74px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px double;
}

/* 9 Portfolio
----------------------------------------------------------------------------- */
/* image hover effect */
.item-img-wrap{
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}
.item-img-wrap img{
    -webkit-transition:all 200ms linear; 
    -moz-transition:all 200ms linear; 
    -o-transition:all 200ms linear; 
    -ms-transition:all 200ms linear; 
    transition:all 200ms linear; 
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px 5px 0px 0px;
}
.item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px 5px 0px 0px;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}
.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}
.work-desc{
    width: 100%;
    padding: 16px 20px;
    background: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-top: none;
    -webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
    position: relative;
}
.work-desc h3{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.work-desc span {
	margin-top: 10px;
}
/* 10 inner (Info)
----------------------------------------------------------------------------- */
#inner-section {
	background: url(../img/img-2.jpg) center;
}
.intermediate-container .subheading h4 {
	color: #ffffff;
}
.intermediate-container .heading h2 {
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
	margin-top: 30px;
	color: #ffffff;
	margin-bottom: 20px;
}
/* 11 Team / Skills
----------------------------------------------------------------------------- */
.team h5 {
	color: #9aa7af;
}
.skill-chart,.skill h4 {
	margin: 0px auto;
	color: #ffffff;
}
.skill i {
	font-size: 20px;
	vertical-align: middle;
	margin-right: 5px;
}

/* ==========
   Simpal Pricing
   ========== */
  .pricing-box{
    background-color: #ffffff;
    position: relative;
    padding: 30px;
    border-top: 4px solid;
    border-radius: 5px;
    text-align: center;
  }
  .plan-title {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    line-height: 36px;
    }
  .plan-price{
    font-size: 22px;
    margin:0;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .plan-price small { 
    font-size: 14px;
  }
  .plan-fetures{
    padding: 20px;
    border-top: 2px solid #eee;
  }
  .price-sign{
    font-size:23px;
    padding-top:0px 0px 0px 0px;
  }
  .plan-month{
    font-size: 14px;
    color: #6f6f6f;
    padding-top: 0;
    line-height: 50px;
  }
  .plan-subtitle i{
    color:#64b937;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
  }
  .plan-start{
    font-size: 28px;
    color: #64b937;
  }
  .pricing-list{
    font-size: 15px;
  }


/* 12 Services
----------------------------------------------------------------------------- */
.service-item i {
	float: left;
	font-size: 28px;
	line-height: 36px;
	width: 30px;
}
.service-item .service-detail {
	margin-left: 65px;
}
 
.service-item .service-detail h4 {
	font-size: 20px;
}
.service-item .service-detail p {
	color: #999;
    line-height: 26px;
}

/* 13 Testimonials
----------------------------------------------------------------------------- */
#testimonials {
	background: url(../img/img-2.jpg) center;
}
.testi-slide {
	color: #f1f2f3;
}
.testimonial-box h4 {
  line-height: 30px;
  font-style: italic;
  font-weight: normal;
}

.testimonial-box .testi-user {
  width: 48px !important;
  height: 48px !important;
  margin: 10px auto;
}

.testimonial-box p > span {
    color: #ffbd4a;
}
.owl-theme .owl-controls .owl-page span {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:2px solid #ffffff;
	background: transparent;
}

/* 14 Partners
----------------------------------------------------------------------------- */
.partners {
	margin: 0 15px 30px 15px;
	overflow: hidden;
}
.partner {
	padding: 15px;
	text-align: center;
	-webkit-box-shadow: -1px -1px 0px 0px #ebeef0;
	-moz-box-shadow: -1px -1px 0px 0px #ebeef0;
	box-shadow: -1px -1px 0px 0px #ebeef0;
}
.partner > img {
	max-width: 100%;
	max-height: 100%;
}

/* 15 Contact
----------------------------------------------------------------------------- */

.error {
	margin: 8px 0px;
	display: none;
	color: red;
}
#ajaxsuccess {
	font-size: 16px;
	width: 100%;
	display: none;
	clear: both;
	margin: 8px 0px;
}
#contact .con_sub_text {
	margin-top: 20px;
}
#contact textarea.form-control{
	height: 120px;
}
#contact i {
	margin-bottom: 0px;
	font-size: 36px;
	line-height: 36px;
}
#contact h4 {
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 20px;
}
#contact a.support {
	display: block;
	font-size: 30px;
}
.info-contact {
	font-size: 16px;
}
.error_message {
  padding: 10px;
  background-color: rgba(244, 35, 103, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

.contact-loader {
  float: left;
}

#success_page {
  text-align: center;
  margin-top: 50px;
}

#success_page h3 {
  color: #0dba26;
}
/* 16 Footer
----------------------------------------------------------------------------- */
.footer {
    color: rgba(255, 255, 255, 0.6);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer h5 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}
.footer ul.footer-list li a:hover {
    color: #fff;
}
.footer ul.footer-list li a {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    padding: 5px 0;
}
.footer-alt {
    background-color: #1f1f23;
}
.footer-alt .copy-rights {
    margin: 0;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
address {
    line-height: 24px;
}


/* 17 Back-to-top
----------------------------------------------------------------------------- */
.back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    text-align: center;
    z-index: 10000;
	border-radius: 5px;
}
.back-to-top i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 38px;
}

/* 18 Responsive
----------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	.nav>li>a {
	    padding: 10px 11px;
	}
}
@media only screen and (height: 568px)  {
    .bg-slider-wrapper .flexslider .slide {
        height:610px !important;
    } 
}
@media only screen and (height: 640px)  {
    .bg-slider-wrapper .flexslider .slide {
        height:610px !important;
    } 
}
@media only screen and (height:667px)  {
    .bg-slider-wrapper .flexslider .slide {
        height:555px !important;
    } 
}
@media only screen and (height:736px) {
    .bg-slider-wrapper .flexslider .slide {
        height:555px !important;
    } 
}
@media only screen and (height:736px) {
    .bg-slider-wrapper .flexslider .slide {
        height:565px !important;
    } 
}
@media only screen and (max-width: 767px) {
	.navbar-custom {
		background-color: #fff;
	}
	.navbar-custom .navbar-brand {
		color: #333 !important;
		padding: 13px 15px 20px 15px;
		margin-top: 10px;
		height: auto;
	}
    .navbar-sticky {
        top:0px !important;
    }
	.navbar-nav>li>a {
		color: #666 !important;
	}
	.navbar-custom .navbar-toggle {
		margin-top: 15px;
	}
	.intro-title,.intermediate-container .heading h2{
		font-size: 30px;
	}
	#home {
		padding: 200px 0px 120px;
	}
	.features-box .col-sm-4{
		text-align: center !important;
	}
	.advanced-about .col-sm-6:first-of-type,.skill{
		margin-bottom: 30px;
	}
	.facts {
		margin-bottom: 50px;
	}
    .bg-slider-wrapper .flexslider .slide {
        height:540px;
    }
    .pricing-box{
        margin-top:20px;
    }
    .btn-bar .btn-custom,.btn-custom-outline{
        margin:7px;
    }
}